@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.text-roboto {
  font-family: 'Roboto Slab', sans-serif;
}

.text-alfa {
  font-family: 'Alfa Slab One', cursive;
}

.text-bebas {
  font-family: 'Bebas Neue', cursive;
}

.text-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.bg-black {
  background-color: #141414;
}

.bg-blue {
  background-color: #112B3C;
}

.bg-light-blue {
  background-color: #205375;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-black {
  color: #141414;
}

.text-blue {
  color: #16558F;
}

.navbar-brand {
  font-weight: bold;
  font-size: 40px;
}

.nav-link {
  font-size: 20px;
}

.self-logo {
  margin-top: 60px;
  width: 256px;
  height: 256px;
  object-fit: cover;
}

.self-job {
  font-size: 35px;
}

.self-description {
  font-weight: bold;
  font-size: 20px;
}

.self-name {
  padding-top: 100px;
  font-size: 30px;
  font-weight: bold;
}

.self-intro {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 250px;
  font-size: 20px;
}

.information-container {
  margin-top: -140px;
}

.information-title {
  padding-top: 30px;
  font-weight: bold;
  font-size: 35px;
}

.information-description {
  margin-top: 10px;
  padding: 0 80px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
}

.experience-container {
  margin-bottom: 90px;
}

.experience-title {
  margin-top: 75px;
  font-size: 35px;
}

.experience-description {
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
}

.experience-job-title {
  font-size: 20px;
}

.experience-job-workplace {
  font-weight: bold;
  font-size: 20px;
}

.experience-job-address {
  font-weight: bold;
  font-size: 20px;
}

.experience-job-date {
  font-style: italic;
  font-size: 20px;
}

.experience-job-description {
  margin-top: 15px;
  font-size: 18px;
  text-align: justify;;
}

.experience-job-description li {
  margin-top: 10px;
}

.skills-container {
  padding-bottom: 100px;
}

.skills-title {
  padding-top: 70px;
  font-size: 35px;
}

.skills-description {
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
}

.skills-category-title {
  margin-top: 70px;
  font-size: 25px;
}

.skills-item-container {
  margin-top: 10px;
}

.skills-item {
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
}

.project-container {
  margin-top: 70px;
  padding-bottom: 50px;
}

.project-title {
  font-size: 35px;
}

.project-description {
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
}

.project-logo {
  margin-top: 25px;
  width: 125px;
  height: 125px;
}

.project-name {
  margin-top: 25px;
  font-weight: bold;
  font-size: 25px;
}

.project-label {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}

.project-feature {
  margin-top: 40px;
  font-weight: bold;
  font-size: 20px;
}

.project-feature-list {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
  columns: 2;
}

.project-feature-list li {
  margin-top: 5px;
}

.project-screenshot {
  margin-top: 40px;
  font-weight: bold;
  font-size: 20px;
}

.project-screenshot-item {
  padding-top: 25px;
  width: 100%;
  height: 100%;
}

.portfolio-container {
  margin-top: 70px;
  padding-bottom: 100px;
}

.portfolio-title {
  padding-top: 70px;
  font-size: 35px;
}

.portfolio-description {
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
}

.portfolio-screenshot-item {
  padding-top: 25px;
  width: 100%;
  height: 100%;
}

.clients-container {
  margin-top: 70px;
  padding-bottom: 200px;
}

.clients-title {
  font-size: 35px;
}

.clients-description {
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
}

.clients-logo {
  margin-top: 25px;
  width: 500px;
}

.clients-name {
  margin-top: 25px;
  font-weight: bold;
  font-size: 25px;
}

.clients-link {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}

.contacts-container {
  margin-top: -630px;
}

.contacts-title {
  margin-top: 40px;
  font-size: 35px;
}

.contacts-description {
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 20px;
}

.contacts-logo {
  width: 256px;
  height: 256px;
  margin-top: 100px;
}

.footer-quote {
  font-style: italic;
  font-size: 20px;
}

.footer-text {
  margin-top: 50px;
  padding-bottom: 50px;
  font-size: 15px;
}
